
<div class="opblock-description-wrapper">
    <div class="opblock-description">
        <div class="renderedMarkdown">
            @((MarkupString)Markdig.Markdown.ToHtml(RequestDescription))
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string RequestDescription { get; set; }
}
