@using DocumentManagementSystem.Client.Components.OpenAPI.Action.Example

<div class="opblock-section opblock-section-request-body">
    <div class="opblock-section-header">
        <h4 class="opblock-title parameter__name undefined">Тело запроса</h4>
        <label>
            @if (mediaTypes is not null && mediaTypes.Count > 0)
            {
                <div class="content-type-wrapper body-param-content-type">
                    <select class="content-type" @bind="requestMediaType">
                        @foreach (var mediaType in mediaTypes)
                        {
                            <option value="@mediaType">@mediaType</option>
                        }
                    </select>
                </div>
            }
        </label>
    </div>
    <div class="opblock-description-wrapper">
        <div>
            <div class="model-example">
                <ul class="tab">
                    @if (exampleValueActivate)
                    {
                        <li class="tabitem active" @onclick="ExampleValueClick">
                            <button class="tablinks">Пример значения</button>
                        </li>
                    }
                    else
                    {
                        <li class="tabitem" @onclick="ExampleValueClick">
                            <button class="tablinks">Пример значения</button>
                        </li>
                    }
                    @if (exampleValueActivate)
                    {
                        <li class="tabitem" @onclick="SchemaClick">
                            <button class="tablinks">Схема</button>
                        </li>
                    }
                    else
                    {
                        <li class="tabitem active" @onclick="SchemaClick">
                            <button class="tablinks">Схема</button>
                        </li>
                    }
                </ul>
                @if (exampleValueActivate)
                {
                    <div class="highlight-code">
                        <Value SchemaRef="@Requests[requestMediaType].Ref" Components="@Components" />
                    </div>
                }
                else
                {
                    <div class="model-box">
                        <span class="model">
                            <span class="">
                                <button aria-expanded="true" class="model-box-control">
                                    <span class="pointer">
                                        <span class="model-title">
                                            <span class="model-hint">/swagger/v1/swagger.json#/components/schemas/UMKBCoreAPI.Models.Api.Requests.User.RequestAuthorization</span>
                                            <span class="model-title__text">UMKBCoreAPI.Models.Api.Requests.User.RequestAuthorization</span>
                                        </span>
                                    </span>
                                    <span class="model-toggle"></span>
                                </button>
                                <span class="brace-open object">{</span><span class="model-jump-to-path"></span><span class="inner-object"><table class="model"><tbody><tr class="property-row"><td>key</td><td><span class="model"><span class=""><button aria-expanded="false" class="model-box-control"><span class="model-toggle collapsed"></span><span>[...]</span></button></span></span></td></tr><tr class="property-row"><td>service</td><td><span class="model"><span class=""><button aria-expanded="false" class="model-box-control"><span class="model-toggle collapsed"></span><span>[...]</span></button></span></span></td></tr><tr class="property-row"><td>email</td><td><span class="model"><span class=""><button aria-expanded="false" class="model-box-control"><span class="model-toggle collapsed"></span><span>[...]</span></button></span></span></td></tr><tr class="property-row"><td>password</td><td><span class="model"><span class=""><button aria-expanded="false" class="model-box-control"><span class="model-toggle collapsed"></span><span>[...]</span></button></span></span></td></tr><tr class="property-row"><td>device</td><td><span class="model"><span class=""><button aria-expanded="false" class="model-box-control"><span class="pointer"><span class="model-title"><span class="model-hint">/swagger/v1/swagger.json#/components/schemas/UMKBCoreAPI.Models.Api.Requests.Shared.Device</span><span class="model-title__text">UMKBCoreAPI.Models.Api.Requests.Shared.Device</span></span></span><span class="model-toggle collapsed"></span><span><span><span>{</span>...<span>}</span><span class="model-jump-to-path"></span></span></span></button></span></span></td></tr></tbody></table></span><span class="brace-close">}</span>
                            </span>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, Schema> Requests { get; set; }
    [Parameter]
    public Components Components { get; set; }

    ICollection<string> mediaTypes;
    string requestMediaType;

    bool exampleValueActivate = true;


    void ExampleValueClick()
    {
        if (exampleValueActivate)
            return;

        exampleValueActivate = true;
    }

    void SchemaClick()
    {
        if (!exampleValueActivate)
            return;

        exampleValueActivate = false;
    }

    protected override void OnInitialized()
    {
        mediaTypes = Requests.Keys;
        requestMediaType = mediaTypes.First();
    }
}
