@using DocumentManagementSystem.Client

<div class="highlight-code">
    <pre class="body-param__example microlight" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: white;">
        @switch (MediaType)
        {
            case Constants.MediaType.ApplicationJSON:
                <code class="language-json" style="white-space: pre;">
                    <ExampleSchemaRef SchemaRef="@SchemaRef"/>
                </code>
                break;
            case Constants.MediaType.ApplicationXML:
                <p>"Это пока не готово"</p>
                break;
            default:
            <p>"Это не работает"</p>
                break;
        }
    </pre>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string? SchemaRef { get; set; }
    [CascadingParameter]
    [EditorRequired]
    public Components? Components { get; set; }
    [CascadingParameter(Name = "MediaType")]
    [EditorRequired]
    public string? MediaType { get; set; }
}
