
<div class="model-box">
    <span class="model">
        <span>
            @switch (MediaType)
            {
                case Constants.MediaType.ApplicationJSON:
                    <UISchema SchemaRef="@SchemaRef" IsOpen="true" />
                    break;
                case Constants.MediaType.ApplicationXML:
                    <p>"Это пока не готово"</p>
                    break;
                default:
                    <p>"Это не работает"</p>
                    break;
            }
        </span>
    </span>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string? SchemaRef { get; set; }
    [CascadingParameter]
    [EditorRequired]
    public Components? Components { get; set; }
    [CascadingParameter(Name = "MediaType")]
    [EditorRequired]
    public string? MediaType { get; set; }
}