
<div class="model-box">
    <span class="model">
        <span>
            <UISchema Components="@Components" SchemaRef="@SchemaRef" IsOpen="true"/>
        </span>
    </span>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string? SchemaRef { get; set; }
    [Parameter]
    [EditorRequired]
    public Components? Components { get; set; }
}