@using Cons = DocumentManagementSystem.Client.Constants

<div class="model-box">
    <span class="model">
        <span>
            @switch (MediaType)
            {
                case Cons.MediaType.ApplicationJSON:
                    <UISchemaRef SchemaRef="@SchemaRef" IsOpen="true" />
                    break;
                case Cons.MediaType.ApplicationXML:
                default:
                    <p>"Это не работает"</p>
                    break;
            }
        </span>
    </span>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string SchemaRef { get; set; }
    [CascadingParameter(Name = "MediaType")]
    public string MediaType { get; set; }
}