.topbar {
    padding: 10px 0;
    background-color: #1b1b1b;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1460px;
    padding: 0 20px;
    width: 100%
}

.topbar .topbar-wrapper, .topbar a {
    align-items: center;
    display: flex
}

.link {
    text-decoration: none
}

    .link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
        transition: color .15s ease-in
    }

        .link:focus {
            outline: 1px dotted currentColor
        }


