@page "/"
@page "/index"
@page "/home"
@using DocumentManagementSystem.Shared
@using DocumentManagementSystem.Client.Components.OpenAPI
@using DocumentManagementSystem.Client.Components
@using DocumentManagementSystem.Shared.Responses
@inject NavigationManager _navigation
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Все проекты</PageTitle>

<div class="wrapper menu">
    @if (download)
    {
        <p style="text-align: center;"><em>загрузка...</em></p>
    }
    else
    {
        @if (error)
        {
            <EmptyPage Text="Ошибка загрузки документации" TextColor="red" />
        }
        else if (documents is null)
        {
            <p style="text-align: center;"><em>Документации нет</em></p>
        }
        else
        {
            @foreach (var document in documents)
            {
                <NavLink class="nav-link">
                    <div class="menuItem" @onclick="()=>NavigateToViewing(document.Code)">
                        <div>
                            <span>@document.Name</span>
                            <p>@document.Description</p>
                        </div>
                        <small />
                        <button class="expand-operation">
                            <UISVGRotate Rotate="-90" />
                        </button>
                    </div>
                </NavLink>
            }
        }
    }
</div>

@code {
    private void NavigateToViewing(string code)
    {
        _navigation.NavigateTo($"/viewing/{code}");
    }

    List<ShortDescriptionResponse>? documents;
    HttpClient client;
    bool download = true;
    bool error = false;

    protected override async Task OnInitializedAsync()
    {
        client = _httpClientFactory.CreateClient("Api");

        try
        {
            var doc = await client.GetFromJsonAsync<List<ShortDescriptionResponse>>($"/ShortDescription");

            if (doc is not null)
                documents = doc;
        }
        catch
        {
            error = true;
        }

        download = false;
    }
}
