@page "/"
@using DocumentManagementSystem.Shared
@inject NavigationManager Navigation
@inject HttpClient client;

<PageTitle>Все проекты</PageTitle>
@if (documents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var document in documents)
    {
        <NavLink class="nav-link">
            <h3 class="opblock-tag" @onclick="()=>NavigateToViewingComponent(document.Code)">
                <div>
                    <span style="font-size: 24px">@document.Name</span>
                    <p>@document.Description</p>
                </div>
                <button aria-expanded="true" class="expand-operation">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0,512) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M1432 4737 c-56 -56 -102 -107 -102 -112 0 -6 462 -472 1027 -1037 l1028 -1028 -1028 -1028 c-565 -565 -1027 -1032 -1027 -1037 0 -6 46 -56 103 -113 l102 -102 1140 1140 1140 1140 -1140 1140 -1140 1140 -103 -103z" />
                        </g>
                    </svg>
                </button>
            </h3>
        </NavLink>
    }
}

@code {
    private void NavigateToViewingComponent(string code)
    {
        Navigation.NavigateTo($"/viewing/{code}");
    }

    List<ShortDescriptionDocumentation>? documents;

    protected override async Task OnInitializedAsync()
    {
        var doc = await client.GetFromJsonAsync<List<ShortDescriptionDocumentation>>($"/ShortDescription");

        documents = doc;
    }
}
