@page "/"
@page "/index"
@page "/home"
@using DocumentManagementSystem.Client.Constants
@using DocumentManagementSystem.Shared
@using DocumentManagementSystem.Client.Components.OpenAPI
@using DocumentManagementSystem.Client.Components
@using DocumentManagementSystem.Shared.Responses
@using System.Text.Json
@inject NavigationManager _navigation
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Все проекты</PageTitle>

<div class="wrapper menu">
    @if (download)
    {
        <p style="text-align: center;"><em>загрузка...</em></p>
    }
    else
    {
        @if (error)
        {
            <EmptyPage Text="Ошибка загрузки документации" TextColor="red" />
        }
        else if (documents is null || documents.Count == 0)
        {
            <p style="text-align: center;"><em>Документации нет</em></p>
        }
        else
        {
            @foreach (var document in documents)
            {
                <NavLink class="nav-link">
                    <div class="menuItem" @onclick="()=>NavigateToViewing(document.Code)">
                        <div>
                            <span>@document.Name</span>
                            <p>@document.Description</p>
                        </div>
                        <small />
                        <button class="expand-operation">
                            <UISVGRotate Rotate="-90" />
                        </button>
                    </div>
                </NavLink>
            }
        }
    }
</div>

@code {
    private void NavigateToViewing(string code)
    {
        _navigation.NavigateTo($"/viewing/{code}");
    }

    List<SummaryResponse>? documents;
    HttpClient client;
    bool download = true;
    bool error = false;

    protected override async Task OnInitializedAsync()
    {
        var json = "{\"openapi\": \"3.0.2\",\"info\": {\"title\": \"Swagger Petstore - OpenAPI 3.0\",\"version\": \"1.0.19\"},\"paths\": {\"/store/order\": {\"post\": {\"tags\": [\"store\"],\"summary\": \"Place an order for a pet\",\"description\": \"Place a new order in the store\",\"operationId\": \"placeOrder\",\"requestBody\": {\"content\": {\"application/json\": {\"schema\": {\"$ref\": \"#/components/schemas/Order\"}}}},\"responses\": {\"200\": {\"description\": \"successful operation\",\"content\": {\"application/json\": {\"schema\": {\"$ref\": \"#/components/schemas/Order\"}}}},\"405\": {\"description\": \"Invalid input\"}}}}},\"components\": {\"schemas\": {\"Order\": {\"type\": \"object\",\"properties\": {\"id\": {\"type\": \"integer\",\"format\": \"int64\",\"example\": 10},\"petId\": {\"type\": \"integer\",\"format\": \"int64\",\"example\": 198772},\"quantity\": {\"type\": \"integer\",\"format\": \"int32\",\"example\": 7},\"shipDate\": {\"type\": \"string\",\"format\": \"date-time\"},\"status\": {\"type\": \"string\",\"description\": \"Order Status\",\"example\": \"approved\",\"enum\": [\"placed\",\"approved\",\"delivered\"]},\"complete\": {\"type\": \"boolean\"}},\"xml\": {\"name\": \"order\"}}}}}";

        var b = "{\"type\": \"object\",\"properties\": {\"id\": {\"type\": \"integer\",\"format\": \"int64\",\"example\": 10},\"petId\": {\"type\": \"integer\",\"format\": \"int64\",\"example\": 198772},\"quantity\": {\"type\": \"integer\",\"format\": \"int32\",\"example\": 7},\"shipDate\": {\"type\": \"string\",\"format\": \"date-time\"},\"status\": {\"type\": \"string\",\"description\": \"Order Status\",\"example\": \"approved\",\"enum\": [\"placed\",\"approved\",\"delivered\"]},\"complete\": {\"type\": \"boolean\"}},\"xml\": {\"name\": \"order\"}}";

        var a = JsonSerializer.Deserialize<Schema>(b, SystemConstants.JSONSerializerOptions);





        client = _httpClientFactory.CreateClient("Api");

        try
        {
            var doc = await client.GetFromJsonAsync<List<SummaryResponse>>($"/Summary");

            if (doc is not null)
                documents = doc;
        }
        catch
        {
            error = true;
        }

        download = false;
    }
}
