@page "/login"
@using System.Text.RegularExpressions
@using DocumentManagementSystem.Client.Components.Redirect
@using DocumentManagementSystem.Client.Constants
@using DocumentManagementSystem.Shared.Requests
@using System.Net
@using DocumentManagementSystem.Shared.Responses
@using System.Text.Json
@inject AuthenticationStateProvider _provider
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager _navigation
@inject ILocalStorageService _localStorageService

<PageTitle>Вход</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <div class="title">
            <h2>Вход</h2>
        </div>

        <div>
            <div class="wrapper">
                <div class="registration-form">
                    @if (errors is not null)
                    {
                        <div>
                            @foreach (var error in errors)
                            {
                                <p style="color:red">@error</p>
                            }
                        </div>
                        <br>
                    }
                    <div>
                        <label>Электронная почта</label>
                        <br />
                        <input type="email" inputmode="text" autocomplete="nickname" @bind-value="@email" @bind-value:event="oninput">
                    </div>
                    <div>
                        <label>Пароль</label>
                        <br />
                        <input type="password" inputmode="text" autocomplete="current-password" @bind-value="@password" @bind-value:event="oninput">
                    </div>
                    <button class="registration-button" @onclick="Login">
                        <span class="button-in">
                            <span class="button-content">Войти</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <RedirectToIndex />
    </Authorized>
</AuthorizeView>

@code {
    string? email { get; set; }
    string? password { get; set; }

    List<string>? errors { get; set; }
    HttpClient client;

    async Task Login()
    {
        List<string>? error = new();

        if (!string.IsNullOrWhiteSpace(email))
        {
            string pattern = @"^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|" + @"([-a-z0-9!#$%&'*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)" + @"@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$";
            var regex = new Regex(pattern, RegexOptions.IgnoreCase);

            if (!regex.IsMatch(email))
                error.Add("Невалидная почта");
        }
        else
            error.Add("Почта не заполнена");

        if (string.IsNullOrWhiteSpace(password))
            error.Add("Пароль не заполнен");

        if (error.Count > 0)
        {
            errors = error;
            return;
        }

        var login = JsonContent.Create(new LogInRequest() { Email = email, Password = password });

        var response = await client.PostAsync(client.BaseAddress + "Authentication", login);

        switch (response.StatusCode)
        {
            case HttpStatusCode.NotFound:
                error.Add("API не найден");
                break;
            case HttpStatusCode.BadRequest:
                error.Add("Ошибка входа");
                break;
            case HttpStatusCode.MethodNotAllowed:
                error.Add("API не поддерживается");
                break;
            case HttpStatusCode.InternalServerError:
                error.Add("Ошибка сервера");
                break;
        }

        if (error.Count > 0)
        {
            errors = error;
            return;
        }
        else
            errors = null;

        LogInResponse logInResponse = await JsonSerializer.DeserializeAsync<LogInResponse>(response.Content.ReadAsStream(), SystemConstants.serializerOptions);

        await _localStorageService.SetItemAsync<string>("jwt-access-token", logInResponse.AccessToken);
        ((AuthStateProvider)_provider).ChangeAuthState();

        _navigation.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        client = _httpClientFactory.CreateClient("Api");
    }
}
