@page "/viewing/{Code}"
@using DocumentManagementSystem.Client.Components.OpenAPI;
@using DocumentManagementSystem.Shared.OpenApi;
@inject NavigationManager Navigation
@inject HttpClient client;

<PageTitle>Просмотр</PageTitle>

<div>
    <UIRoot Document="@Document" />
</div>


@code {
    [Parameter] public string? Code { get; set; }

    OpenAPIRoot? Document { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Code)) Navigation.NavigateTo("/");

        Document = await client.GetFromJsonAsync<OpenAPIRoot>($"/Document?Code={Code}");
    }
}

