<div class="opblock opblock-post">
    <div class="opblock-summary opblock-summary-post">
        <button aria-label="post &ZeroWidthSpace;/AI&ZeroWidthSpace;/CG" aria-expanded="false" class="opblock-summary-control">
            <span class="opblock-summary-method">POST</span>
            <span class="opblock-summary-path" data-path="/AI/CG">
                <a class="nostyle">
                    <span>/AI<wbr>/CG</span>
                </a>
            </span>
            <div class="opblock-summary-description">Клинические рекомендации - рекомендуемая фармакотерапия.</div>
            <svg class="arrow" width="20" height="20" aria-hidden="true" focusable="false">
                <use href="#large-arrow-down" xlink:href="#large-arrow-down"></use>
            </svg>
        </button>
        <div class="view-line-link copy-to-clipboard" title="Copy to clipboard">
            <svg width="15" height="16">
                <use href="#copy" xlink:href="#copy"></use>
            </svg>
        </div>
    </div><noscript></noscript>
</div>

@code {

}
