
.info {
    margin: 50px 0
}

    .info.failed-config {
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    .info hgroup.main {
        margin: 0 0 20px
    }

        .info hgroup.main a {
            font-size: 12px
        }

    .info pre {
        font-size: 14px
    }

    .info li, .info p, .info table {
        font-size: 14px;
        font-family: sans-serif;
        color: #3b4151
    }

    .info h1, .info h2, .info h3, .info h4, .info h5 {
        font-family: sans-serif;
        color: #3b4151
    }

    .info a {
        font-size: 14px;
        transition: all .4s;
        font-family: sans-serif;
        color: #4990e2
    }

        .info a:hover {
            color: #1f69c0
        }

    .info > div {
        margin: 0 0 5px
    }

    .info .base-url {
        font-size: 12px;
        font-weight: 300 !important;
        margin: 0;
        font-family: monospace;
        font-weight: 600;
        color: #3b4151
    }

    .info .title {
        font-size: 36px;
        margin: 0;
        font-family: sans-serif;
        color: #3b4151
    }

        .info .title small {
            font-size: 10px;
            position: relative;
            top: -5px;
            display: inline-block;
            margin: 0 0 0 5px;
            padding: 2px 4px;
            vertical-align: super;
            border-radius: 57px;
            background: #7d8492
        }

            .info .title small.version-stamp {
                background-color: #89bf04
            }

            .info .title small pre {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                color: #fff
            }
