.scheme-container {
    margin: 0 0 20px;
    padding: 30px 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
}

    .scheme-container .schemes {
        display: flex;
        align-items: flex-end
    }

        .scheme-container .schemes > label {
            font-size: 12px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            margin: -20px 15px 0 0;
            font-family: sans-serif;
            color: #3b4151
        }

            .scheme-container .schemes > label select {
                min-width: 130px;
                text-transform: uppercase
            }

.servers-title {
    font-size: 12px;
    font-weight: 700
}

.servers > label {
    font-size: 12px;
    margin: -20px 15px 0 0;
    font-family: sans-serif;
    color: #3b4151
}

    .servers > label select {
        min-width: 130px;
        max-width: 100%
    }

.servers h4.message {
    padding-bottom: 2em
}

.servers table tr {
    width: 30em
}

.servers table td {
    display: inline-block;
    max-width: 15em;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px
}

    .servers table td:first-of-type {
        padding-right: 1em
    }

    .servers table td input {
        width: 100%;
        height: 100%
    }

.servers .computed-url {
    margin: 2em 0
}

    .servers .computed-url code {
        display: inline-block;
        padding: 4px;
        font-size: 16px;
        margin: 0 1em
    }