

<div class="parameters-container">
    <div class="opblock-description-wrapper">
        @if (RequestParameters is null || RequestParameters.Count == 0)
        {
            <p>Нет параметров</p>
        }
        else
        {
            <p>Параметры есть, но я их еще не сделал;)</p>
        }
    </div>
</div>
    

@code {
    [Parameter]
    [EditorRequired]
    public ICollection<Parameter>? RequestParameters { get; set; }
}
