@using DocumentManagementSystem.Shared.OpenApi

<div class="opblock-section opblock-section-request-body">
    <div class="opblock-section-header">
        @if (RequestBody.Required is not null && (bool)RequestBody.Required)
        {
            <h4 class="opblock-title parameter__name required">Тело запроса</h4>
        }
        else
        {
            <h4 class="opblock-title parameter__name undefined">Тело запроса</h4>
        }
        <label>
            @if (mediaTypes is not null && mediaTypes.Count > 0)
            {
                <div class="content-type-wrapper body-param-content-type">
                    <select class="content-type" @bind="selectedMediaType">
                        @foreach (var mediaType in mediaTypes)
                        {
                            <option value="@mediaType">@mediaType</option>
                        }
                    </select>
                </div>
            }
        </label>
    </div>
    <div class="opblock-description-wrapper">
        <CascadingValue Value="@selectedMediaType" Name="MediaType">
            <UIRequestBody RequestBody="@RequestBody" />
        </CascadingValue>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public RequestBody? RequestBody { get; set; }
    [CascadingParameter]
    [EditorRequired]
    public Components? Components { get; set; }

    List<string>? mediaTypes;
    string? selectedMediaType;

    protected override void OnInitialized()
    {
        mediaTypes = RequestBody.Content.Keys.ToList();

        if (mediaTypes.Contains("application/json"))
            selectedMediaType = "application/json";
        else
        {
            mediaTypes.Sort();
            selectedMediaType = mediaTypes.First();
        }
    }
}
