@using DocumentManagementSystem.Client.Components.OpenAPI.Actions.Action.Example
@using DocumentManagementSystem.Client.Components.OpenAPI.Actions.Action.ComponentSchema
@using DocumentManagementSystem.Shared.OpenApi

@switch (MediaType)
{
    case Constants.MediaType.ApplicationJSON:
        <div class="model-example">
            <ul class="tab">
                @if (exampleValueActivate)
                {
                    <li class="tabitem active" @onclick="ExampleValueClick">
                        <button class="tablinks">Пример значения</button>
                    </li>
                    <li class="tabitem" @onclick="SchemaClick">
                        <button class="tablinks">Схема</button>
                    </li>
                }
                else
                {
                    <li class="tabitem" @onclick="ExampleValueClick">
                        <button class="tablinks">Пример значения</button>
                    </li>
                    <li class="tabitem active" @onclick="SchemaClick">
                        <button class="tablinks">Схема</button>
                    </li>
                }
            </ul>
            @if (exampleValueActivate)
            {
                @if (Response.Content[MediaType].Schema is not null)
                {
                    @if (!string.IsNullOrEmpty(Response.Content[MediaType].Schema.Ref))
                        schemaRef = Response.Content[MediaType].Schema.Ref;
                    else
                    @if (Response.Content[MediaType].Schema.Items is not null && !string.IsNullOrEmpty(Response.Content[MediaType].Schema.Items.Ref))
                        schemaRef = Response.Content[MediaType].Schema.Items.Ref;

                    <ExampleRoot SchemaRef="@schemaRef" />
                }
            }
            else
            {
                @if (Response.Content[MediaType].Schema is not null)
                {
                    @if (!string.IsNullOrEmpty(Response.Content[MediaType].Schema.Ref))
                        schemaRef = Response.Content[MediaType].Schema.Ref;
                    else
                    @if (Response.Content[MediaType].Schema.Items is not null && !string.IsNullOrEmpty(Response.Content[MediaType].Schema.Items.Ref))
                        schemaRef = Response.Content[MediaType].Schema.Items.Ref;

                    <UISchemaRoot SchemaRef="@schemaRef" />
                }
            }
        </div>
        break;
    case Constants.MediaType.ApplicationStream:
        <i>Для медиа типа <code>application/octet-stream</code> примеры не допустимы.</i>
        break;
    case Constants.MediaType.ApplicationXML:
    default:
        <i>Это не готово</i>
        break;
}



@code {
    [Parameter]
    [EditorRequired]
    public Response? Response { get; set; }
    [CascadingParameter(Name = "MediaType")]
    public string MediaType { get; set; }

    bool exampleValueActivate = true;
    string? schemaRef;

    void ExampleValueClick()
    {
        if (!exampleValueActivate)
            exampleValueActivate = true;
    }

    void SchemaClick()
    {
        if (exampleValueActivate)
            exampleValueActivate = false;
    }
}
