@using DocumentManagementSystem.Client.Models;

@switch (Type)
{
    case PropertyTypes.Integer:
    case PropertyTypes.Number:
        <span style="color: rgb(211, 99, 99);">0</span>
        break;
    case PropertyTypes.Boolean:
        <span style="color: rgb(252, 194, 140);">true</span>
        break;
    default:
        <span style="color: rgb(162, 252, 162);">"@Type"</span>
        break;
}
@if (!LastProperty)
{
    <span>,</span>
}
@Environment.NewLine

@code {
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public bool LastProperty { get; set; }
}
